[submodule "2016-02-24/Slaminate - Advanced animations made easy/DemoProject"]
	path = 2016-02-24/Slaminate - Advanced animations made easy/DemoProject
	url = https://github.com/trenskow/CocoaHeadsDemo.git
